{% extends 'header.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="container mt-5">
	<table class="table table-sm">
  <thead class="text-danger">
    <tr>
      <th scope="col">Country</th>
      <th scope="col">New Cases</th>
      <th scope="col">Active</th>
      <th scope="col">Critical</th>
      <th scope="col">Recovered</th>
      <th scope="col">New Deaths</th>
      <th scope="col">Total Deaths</th>

    </tr>
  </thead>
  <tbody>
    {% for cases in covid_19.items %}
      {% if cases.new_cases | int > 100 and cases.total_deaths | int < 1000 or cases.new_deaths | int < 100 %}
        <tr class="btn-outline-warning">
      {% elif cases.new_deaths | int > 50 %}
        <tr class="btn-outline-danger font-weight-bold">
      {% elif cases.total_deaths | int < cases.recovered_cases| int %}
        <tr class="btn-outline-success">
      {% else %}
      <tr class="btn-outline-primary">
      {% endif %}

          <th scope="row"> <span class="flag flag-{{ cases.country_code }} mr-2"></span>{{ cases.country_name }}</th>
          <td class="">{{ cases.new_cases }}</td>
          <td>{{ cases.active_cases }}</td>
          <td>{{ cases.critical_cases }}</td>
          <td>{{ cases.recovered_cases }}</td>
          <td>{{ cases.new_deaths }}</td>
          <td>{{ cases.total_deaths }}</td>
        </tr>
    {% endfor %}
  </tbody>
 </table>

<nav class="" aria-label="...">
  <ul class="pagination pagination-md justify-content-center">
    
      {% for page in covid_19.iter_pages() %}
          {% if page %}
          <li class="page-item">
            <a class="page-link" href="/{{ page }}/ac" tabindex="-1">{{ page }}</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="/{{ page }}/ac" tabindex="-1">...</a>
          </li>
          {% endif %}
      {% endfor %}
  </ul>
</nav>
</div>



{% endblock %}
