{% extends 'header.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="container mt-5">
	<table class="table table-sm">
  <thead class="text-danger">
    <tr>
      <th scope="col">Country</th>
      <th scope="col">New Cases</th>
      <th scope="col">Active</th>
      <th scope="col">Critical</th>
      <th scope="col">Recovered</th>
      <th scope="col">New Deaths</th>
      <th scope="col">Total Deaths</th>

    </tr>
  </thead>
  <tbody>
        <tr>
          <th scope="row" id="countryName"></th>
          <td id="newCases"></td>
          <td id="activeCases"></td>
          <td id="criticalCases"></td>
          <td id="recoveredCases"></td>
          <td id></td>
          <td></td>
        </tr>
  </tbody>
 </table>




</div>



{% endblock %}
